@import url('https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap');
body{
    font-family: "Ruge Boogie", serif;
    font-weight: 400;
    font-style: normal;
    color: #BF5827;
    background-color: #800020;
    font-size: 26pt;
}
.textured_text{
    background-image: url("images/sandDunesTexture.jpg");
    background-repeat: repeat;
    background-clip: text;
    color: transparent;
    display: block;
}
h1{
    text-align: center;
    font-size: 30pt;
}
footer{
    font-size: 26pt;
    position: absolute;
    bottom: 2pt;
}
a{
    text-decoration-style: wavy;
}
a:hover{
    color: #ECCCA0;
    text-decoration-style: wavy;
}